<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<connectionStrings>
  <add name="DBCS" connectionString="initial catalog =TESTREGISTRATION; data source=DEFAULT-DEVICE; integrated security=true" />
  <add name="TESTREGISTRATIONConnectionString" connectionString="Data Source=DEFAULT-DEVICE;Initial Catalog=TESTREGISTRATION;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
